{% load static tailwind_tags %}
{% extends "index.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Default Value{% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% tailwind_css %}
</head>
<body>
    {% block content %}
    <nav class = 'bg-green-600'>this is nav bar </nav>
     
    {% comment %} <h1 class = 'text-3xl font-bold'>Welcome to the Home Page</h1>
     <p class = 'text-lg'>This is the main content of the home page.</p> {% endcomment %}
    {% endblock %}
   
</body>
</html>